<ul class="banner">
  <% 3.times do %>
    <li><%= image_tag("https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn2/c0.126.851.315/p851x315/1379382_530562207012518_1627329594_n.jpg")%></li>
  <% end %>
</ul>