<h2 class="title">Collection</h2>
<ul id="gallery">
  <% @albums.each do |album| %>
    <li>
      <div class="item">
        <div>
          <% if album.photos.present? %>
          <%= link_to image_tag(album.photos.first.images.first.source , class: "img-responsive"), album_path(id: album.identifier) %>
          <% end %>
          <h5><%= album.name %></h5>
        </div>
      </div>
    </li>
 <% end %>
</ul>


