<div class="gallery">
  <h2 class="title"><%= @album.name %></h2>
  <div class="row item-detail">
    <div class="col-sm-6 item-image">
      <%= image_tag(@photos.first.images.first.source , class: "img-responsive") %>
    </div>
    <div class="col-sm-6 item-description">
      <h5>Detail</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto</p>
    </div>
    <div class="close-item-detail">
      <a href="#">CLOSE</a>
    </div>
  </div>
  <ul id="gallery">
    <% @photos.each do |photo| %>
      <li>
        <div class="item photo">
          <div>
            <%= image_tag(photo.images.first.source , class: "img-responsive") %>
            <p class="photo-name hidden">
              <%= photo.name %>
            </p>
          </div>
        </div>
      </li>
   <% end %>
  </ul>
</div>


