/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
body a{
 color: #AEAEAE;
}
body a:hover{
 color: black;
 text-decoration: none;
}
body a.active{
 color: black;
}
body p{
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
}
