#gallery{
  z-index: 1500;
  margin: 0 auto;
  padding: 0;
  li{
    list-style: none;
    div.item{
      padding: 0px 10px 10px 10px;
      width: 300px;
      text-align: center;
      div{
        // -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        // -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        img{
          width: 300px;
        }
        h5{
          padding: 10px;
        }
      }   
    }
  }
}
.item-detail{
  display: none;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  .item-image{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .close-item-detail{
    position: absolute;
    z-index: 1000;
    padding: 10px;
    background: black;
    right: 0px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-right: 30px;
    a{
      color: white;
      text-decoration: none;
    }
    a:hover{
      color: white;
      text-decoration: none;
    }
  }
  .col-sm-12{
    padding: 0px;
  }
  .border{
    // -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    // -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  }
  h5{
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 2;
    margin: 0px;
  }
}