.header{
  z-index: 10000;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  background: white;
  height: 60px;
  div.brand{
    float: left;
    padding: 10px;
    font-weight: 200;
    letter-spacing: 10px;
    margin-left: 30px;
    h1{
      margin: 0px;
      a{
        color: black;
      }
    }
  }
  nav#menu{
    float: right;
    ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
      li{
      float: left;
        a{
          margin-right: 30px;
          line-height: 60px;
          font-size: 20px;
          font-weight: 100;
        }
      }
    }
  }
}