// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.main{
  .wrap{
    max-width: 1230px;
    margin: 0 auto;
    .row{
      border-radius: 5px;
      padding: 0px 0px 30px 0px;
      width: 100%;
      background: #F5F6F6;
      h2{
        font-size: 70px;
        margin: 0px;
        line-height: 2;
        letter-spacing: 5px;
        font-weight: 100;
      }
    }
    .row.white{
      background: white;
    }
  }
  padding: 0px;
  width: 100%;
}