<!DOCTYPE html>
<html>
<head>
  <title>Akera</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
      <div class="text-center brand">
        <h1><%= link_to "AKERA", root_path %></h1>
      </div>
      <nav id="menu">
        <ul id="menu-nav">
          <li class=""><a href="/#collection">Collection</a></li>
          <li class="current"><a href="#about">About</a></li>
          <li class=""><a href="#contact">Contact</a></li>
        </ul>
      </nav>
  </div>
  <div class="container main">
    <div class="wrap">
      <div class="row white">
        <%= render "shared/banner" %>
      </div>
      <div class="row" id="collection">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
      <div class="row white" id="about">
        <div class="col-sm-12">
          <h2 class="title">About</h2>
          <p>
            <%= @page.raw_attributes[:about ]%>
          </p>
        </div>
      </div>
      <div class="row" id="contact">
        <div class="col-sm-12">
          <h2 class="title">Contact</h2>
          <p>
            <%= @page.raw_attributes[:website ]%>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
